
/**
 * Icon View
 */
.GUIIconView {
  position : relative;
  min-width : 48px;
  min-height : 48px;
}
.GUIIconView > div {
  position : absolute;
  top : 0px;
  left : 0px;
  right : 0px;
  bottom : 0px;
  overflow : auto;
}
.GUIIconView div > ul {
  list-style-type : none;
  margin : 0px;
  padding : 0;
}
.GUIIconView li > div {
  position : relative;
}

.GUIIconView ul > li {
  float : left;
  margin : 5px;
  padding : 5px;
  text-align : center;
  width : 34px;
  min-height : 34px;
}
.GUIIconView.IconSize32x32 ul > li {
  width : 50px;
  min-height : 50px;
}
.GUIIconView.IconSize64x64 ul > li {
  width : 82px;
  min-height : 82px;
}

.GUIIconView img {
  width : 16px;
  height : 16px;
}
.GUIIconView.IconSize32x32 img {
  width : 32px;
  height : 32px;
}
.GUIIconView.IconSize64x64 img {
  width : 64px;
  height : 64px;
}
.GUIIconView li span {
  position : absolute;
  display : block;
  left : -5px;
  right : -5px;
  top : 0px;
  padding : 5px;
  z-index : 9999;

  white-space : nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.GUIIconView li.Active span {
  overflow: visible;
  white-space : pre-wrap;
  word-wrap : break-word;
  text-overflow: inherit;
  -o-text-overflow: inherit;
}

