
/**
 * ListView
 */
.GUIListView {
  border : 1px solid rgba(34, 34, 34, .5);
  position : relative;
  overflow : auto;
  min-height : 50px;
}

.GUIListView .Scroll {
  position : absolute;
  top : 28px;
  left : 0px;
  right : 0px;
  bottom : 0px;
  overflow : none;
}

.GUIListView table {
  border-collapse : collapse;
  table-layout : fixed;
  margin : 0;
  padding : 0;
  position : relative;
  width : 100%;
}
.GUIListView table.Header {
  position : absolute;
  top : 0px;
  left : 0px;
  right : 0px;
  z-index : 999;
}

.GUIListView tr {
  margin : 0;
  padding : 0;
  padding-left : 5px;
  padding-right : 5px;
  height : 26px;
  line-height : 26px;
  cursor : pointer;
}

.GUIListView td {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space : nowrap;
}
.GUIListView td:first-child {
  padding-left : 2px;
}
.GUIListView td span {
  display : block;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  width : 100%;
  font-weight : normal;
}

.GUIListView td img {
  padding-right : 2px;
  vertical-align : text-bottom;
}

.GUIListView td > div {
  position : relative;
}
.GUIListView .Resizer {
  position : absolute;
  top : 0px;
  right : 0px;
  bottom : 0px;
  width : 4px;
  border-right : 1px solid transparent;
}

