
/**
 * GUISelect
 */
.GUISelect {
  position : relative;
}
.GUISelect > select {
  width : 100%;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}

