
/**
 * GUISelectList
 */
.GUISelectList {
  position : relative;
  min-height : 30px;
}
.GUISelectList > select {
  width : 100%;
  height : 100%;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}

