
/**
 * Status Bar
 */
.GUIStatusBar {
  position : absolute;
  bottom : 0px;
  left : 0px;
  right : 0px;
  height : 24px;
  padding : 5px;
  line-height : 16px;
  overflow : hidden;
  white-space : nowrap;
  z-index : 99999;
}

