
/**
 * Status Bar
 */
.GUIStatusBar {
  position : absolute;
  bottom : 0px;
  left : 0px;
  right : 0px;
  height : 15px;
  padding : 5px;
  line-height : 15px;
  overflow : hidden;
  white-space : nowrap;
}

