
/**
 * GUITabs
 */
.GUITabs {
  position : relative;
  min-width : 100px;
  min-height : 100px;
}
.GUITabs .Tabs {
  position : absolute;
  top : 0px;
  left : 0px;
  right : 0px;
  height : 26px;
  z-index : 2;
}
.GUITabs .Tabs .Tab {
  height : 24px;
  margin-top : 2px;
  float : left;
  padding-left : 5px;
  padding-right : 5px;
  line-height : 26px;
  position : relative;
}
.GUITabs .Tabs .Tab.Active {
  height : 26px;
  margin : 0;
}
.GUITabs .Tabs .Tab.HasClose {
  padding-right : 15px;
}
.GUITabs .Tabs .Tab .Close {
  position : absolute;
  top : 8px;
  right : 2px;
  height : 8px;
  width : 8px;
  line-height : 8px;
  text-align : center;
}
.GUITabs .TabContents {
  position : absolute;
  top : 27px;
  left : 0px;
  right : 0px;
  bottom : 0px;
  overflow : hidden;
  z-index : 1;
}
.GUITabs .TabContents .TabContent {
  display : none;
}
.GUITabs .TabContents .TabContent.Active {
  display : block;
}

