
/**
 * Text area
 */
.GUITextarea {
  position : relative;
}

.GUITextarea textarea {
  display : block;
  position : absolute;
  height : 100%;
  width : 100%;
  left : 0px;
  right : 0px;
  bottom : 0px;
  top : 0px;
  resize : none;
  font-family : Monospace;
  overflow : auto;
  overflow-x : auto;
  overflow-y : auto;
  white-space : nowrap;
}

