<!DOCTYPE html>
<html>
  <head>
    <title>OS.js Client Documentation</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <nav>
      <h1>Files</h1>
      <ul>

%MENU%

      </ul>

      <h1>Namespace</h1>
      <ul>

%NAMESPACE%

      </ul>
    </nav>

    <content>

%CONTENT%

    </content>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-46087265-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; 
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
  </body>
</body>
