{
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "OSjs": true,
    "OSJS_DEBUG": true,
    "zip": true,
    "alert": true,
    "confirm": true,
    "escape": true,
    "unescape": true,
    "EventTarget": true,
    "Uint8Array": true,
    "ArrayBuffer": true,
    "Promise": true,
    "gapi": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "valid-jsdoc": [
      1,
      {
        "prefer": {
          "return": "return",
          "arg": "param"
        },
        "requireReturn": false,
        "requireReturnType": false,
        "requireReturnDescription": false
      }
    ],
    "block-spacing": 2,
    "brace-style": 2,
    "curly": [
      2,
      "all"
    ],
    "array-callback-return": 2,
    "block-scoped-var": 2,
    "radix": 2,
    "func-call-spacing": [1, "never"],
    "key-spacing": [1, {"beforeColon": false}],
    "new-parens": 1,
    "no-whitespace-before-property": 1,
    "no-array-constructor": 1,
    "no-undefined": 1,
    "no-useless-call": 2,
    "no-sequences": 2,
    "no-self-assign": 2,
    "no-return-assign": 2,
    "no-redeclare": 2,
    "no-proto": 2,
    "no-invalid-this": 1,
    "no-implicit-globals": 2,
    "no-implied-eval": 2,
    "no-extra-bind": 2,
    "no-eval": 2,
    "no-bitwise": 0,
    "no-dupe-args": 2,
    "no-ex-assign": 2,
    "no-func-assign": 2,
    "no-unexpected-multiline": 2,
    "no-unsafe-negation": 2,
    "no-sparse-arrays": 2,
    "use-isnan": 2,
    "valid-typeof": [2, {
      "requireStringLiterals": true
    }],
    "semi": [
      "error",
      "always"
    ],
    "eqeqeq": 2,
    "new-cap": 2,
    "no-inner-declarations": 2,
    "no-extra-semi": 2,
    "no-caller": 2,
    "no-empty": [
      2,
      {
        "allowEmptyCatch": true
      }
    ],
    "no-new": 2,
    "dot-notation": 1,
    "no-undef": 2,
    "no-unused-vars": [2, {
      "args": "none"
    }],
    "no-irregular-whitespace": 2,
    "no-obj-calls": 2,
    "no-unreachable": 2,
    "no-cond-assign": [
      2,
      "except-parens"
    ],
    "no-eq-null": 2,
    "strict": [
      1,
      "global"
    ],
    "no-unused-expressions": 2,
    "no-use-before-define": 1,
    "quotes": [
      2,
      "single"
    ],
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1,
        "CallExpression": {
          "arguments": "first"
        }
      }
    ],
    "space-before-function-paren": [
      2,
      "never"
    ],
    "array-bracket-spacing": [
      2,
      "never"
    ],
    "space-unary-ops": [
      2,
      {
        "words": false,
        "nonwords": false
      }
    ],
    "no-mixed-spaces-and-tabs": 2,
    "no-trailing-spaces": 2,
    "comma-dangle": [
      2,
      "never"
    ],
    "yoda": [
      2,
      "never"
    ],
    "no-with": 2,
    "no-multiple-empty-lines": [
      2,
      {
        "max": 1
      }
    ],
    "space-before-blocks": [
      2,
      "always"
    ],
    "comma-style": [
      2,
      "last"
    ],
    "comma-spacing": [
      1,
      { "before": false, "after": true  } 
    ],
    "space-infix-ops": 2,
    "object-curly-spacing": [
      2,
      "never"
    ],
    "eol-last": 2,
    "keyword-spacing": [
      2,
      {
        "before": true,
        "after": true
      }
    ],
    "consistent-return": 1,
    "consistent-this": [
      2,
      "self"
    ],
    "linebreak-style": [
      2,
      "unix"
    ]
  }
}
