{
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "OSjs": true,
    "zip": true,
    "alert": true,
    "confirm": true,
    "escape": true,
    "unescape": true,
    "EventTarget": true,
    "Uint8Array": true,
    "ArrayBuffer": true,
    "Promise": true
  },
  "rules": {
    "valid-jsdoc": [
      1,
      {
        "prefer": {
          "return": "return",
          "arg": "param"
        },
        "requireReturn": false,
        "requireReturnType": false,
        "requireReturnDescription": false
      }
    ],
    "brace-style": 2,
    "curly": [
      2,
      "all"
    ],
    "no-bitwise": 0,
    "no-dupe-args": 2,
    "use-isnan": 2,
    "valid-typeof": [2, {
      "requireStringLiterals": true
    }],
    "semi": [
      "error",
      "always"
    ],
    "eqeqeq": 2,
    "new-cap": 2,
    "no-inner-declarations": 2,
    "no-extra-semi": 2,
    "no-caller": 2,
    "no-empty": [
      2,
      {
        "allowEmptyCatch": true
      }
    ],
    "no-new": 2,
    "dot-notation": 1,
    "no-undef": 2,
    "no-unused-vars": [2, {
      "args": "none"
    }],
    "no-irregular-whitespace": 2,
    "no-obj-calls": 2,
    "no-unreachable": 2,
    "no-cond-assign": [
      2,
      "except-parens"
    ],
    "no-eq-null": 2,
    "strict": [
      1,
      "function"
    ],
    "no-unused-expressions": 2,
    "no-use-before-define": 1,
    "quotes": [
      2,
      "single"
    ],
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "space-before-function-paren": [
      2,
      "never"
    ],
    "array-bracket-spacing": [
      2,
      "never"
    ],
    "space-unary-ops": [
      2,
      {
        "words": false,
        "nonwords": false
      }
    ],
    "no-mixed-spaces-and-tabs": 2,
    "no-trailing-spaces": 2,
    "comma-dangle": [
      2,
      "never"
    ],
    "yoda": [
      2,
      "never"
    ],
    "no-with": 2,
    "no-multiple-empty-lines": [
      2,
      {
        "max": 1
      }
    ],
    "space-before-blocks": [
      2,
      "always"
    ],
    "comma-style": [
      2,
      "last"
    ],
    "space-infix-ops": 2,
    "object-curly-spacing": [
      2,
      "never"
    ],
    "eol-last": 2,
    "keyword-spacing": [
      2,
      {
        "before": true,
        "after": true
      }
    ],
    "consistent-this": [
      2,
      "self"
    ],
    "linebreak-style": [
      2,
      "unix"
    ]
  }
}
