src/packages/default/Broadway/**
src/packages/default/**/*.css
src/packages/default/**/*.php
src/packages/default/**/locales.js
src/packages/default/**/locale.js
src/packages/default/Calculator/main.js
src/client/stylesheets/**
src/client/themes/**
src/templates/**
src/installer/**
src/server/php/**
src/server/test/**
src/client/test/**
src/conf/**
src/x11-launcher/**
dist-dev/**
vendor/*
dist/**
vfs/**
doc/**
bin/**
