node_modules
*.swp
*.swo
.DS_Store
.git-old
*-tmp.*
twistd.*
.vagrant/*
*.pyc

# Misc
.nightly
.standalone
.debian
.nw
TODO
GIT_*

# Storage
vfs/*/*

# Config files
src/conf/999-*
src/conf/900-custom.json
src/server/settings.json
src/server/packages.json
src/installer/installer.exe

# Builds
dist/*
dist-dev/*
!dist-dev/vendor
doc/jsdoc
src/server/*.sqlite

# Vendor
vendor/dropbox*
vendor/zip.js
vendor/html2canvas
src/server/php/vendor
src/packages/extras
src/packages/development
src/packages/games
src/packages/system
