# Unwanted files
*.sw*
.DS_Store
.git-old
*-tmp.*

# External repositories
apps-extras

# Override files can be ignored
backend/bugreport.php
backend/config.php
backend/settings.json
frontend/settings.js

# Minimized files
frontend/_all*
