Options +FollowSymlinks
RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_URI} !^/index.html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^API backend/api.php
RewriteRule ^FS/(.*) backend/api.php?file=/$1
RewriteRule ^FS backend/api.php?upload

# Comment this line if you want to be able to run bin/ from web-server
#RewriteRule ^(bin|doc) - [F,L,NC]

<ifModule mod_headers.c>
  <FilesMatch "\.(html|htm|js|css|json)$">
    FileETag None
    Header unset ETag
    Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
  </FilesMatch>

  <FilesMatch "\.(mp3|ogg|oga|mpe?g|avi|wav|webm|aac|mp4)$">
    FileETag None
    Header unset ETag
    Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
  </FilesMatch>

  <FilesMatch "\.(ico|jpe?g|png|gif)$">
    Header set Cache-Control "max-age=2592000, public"
  </FilesMatch>
</ifModule>

<ifModule mod_mime.c>
  AddType application/json .json

  AddType audio/aac .aac
  AddType audio/mp4 .mp4
  AddType audio/mp4 .m4a
  AddType audio/mpeg .mp1
  AddType audio/mpeg .mp2
  AddType audio/mpeg .mp3
  AddType audio/mpeg .mpg
  AddType audio/mpeg .mpeg
  AddType audio/ogg .oga
  AddType audio/ogg .ogg
  AddType audio/wav .wav
  AddType audio/webm .webm

  AddType video/mp4 .mp4
  AddType video/mp4 .m4v
  AddType video/ogg .ogv
  AddType video/webm .webm
  AddType video/x-msvideo .avi
  AddType video/x-flv .flv
  AddType video/x-matroska .mkv

  AddType text/html .html
  AddType text/xml .xml
  AddType application/javascript .js
  AddType application/x-python .py

  AddType text/plain .txt
  AddType text/plain .doc
  AddType osjs/document .odoc
</ifModule>
