{
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": ["extend", "mixin", "include"]
    }]
  },
  "extends": "stylelint-config-standard"
}
