language: node_js
node_js:
  - 7
  - 6
  - 5
  - 4
install:
  - npm install
  - npm install mocha
  - npm install grunt-cli -g
before_script:
  - node osjs build:config build:manifest build:core
after_success:
  - node osjs build
