@font-face {
  font-family: OSjsFont;
  src: url('fonts/Karla-Regular.eot');
  src: url('fonts/Karla-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/Karla-Regular.svg#karla') format('svg'), url('fonts/Karla-Regular.woff') format('woff'), url('fonts/Karla-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: OSjsFont;
  src: url('fonts/Karla-Bold.eot');
  src: url('fonts/Karla-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/Karla-Bold.svg#karla_bold') format('svg'), url('fonts/Karla-Bold.woff') format('woff'), url('fonts/Karla-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: OSjsFont;
  src: url('fonts/Karla-Italic.eot');
  src: url('fonts/Karla-Italic.eot?#iefix') format('embedded-opentype'), url('fonts/Karla-Italic.svg#karla_italic') format('svg'), url('fonts/Karla-Italic.woff') format('woff'), url('fonts/Karla-Italic.ttf') format('truetype');
  font-style: italic;
}
@font-face {
  font-family: OSjsFont;
  src: url('fonts/Karla-Italic.eot');
  src: url('fonts/Karla-Italic.eot?#iefix') format('embedded-opentype'), url('fonts/Karla-Italic.svg#karla_italic') format('svg'), url('fonts/Karla-Italic.woff') format('woff'), url('fonts/Karla-Italic.ttf') format('truetype');
  font-style: oblique;
}
@font-face {
  font-family: OSjsFont;
  src: url('fonts/Karla-BoldItalic.eot');
  src: url('fonts/Karla-BoldItalic.eot?#iefix') format('embedded-opentype'), url('fonts/Karla-BoldItalic.svg#karla_bolditalic') format('svg'), url('fonts/Karla-BoldItalic.woff') format('woff'), url('fonts/Karla-BoldItalic.ttf') format('truetype');
  font-style: italic;
  font-style: italic;
}
@font-face {
  font-family: OSjsFont;
  src: url('fonts/Karla-BoldItalic.eot');
  src: url('fonts/Karla-BoldItalic.eot?#iefix') format('embedded-opentype'), url('fonts/Karla-BoldItalic.svg#karla_bolditalic') format('svg'), url('fonts/Karla-BoldItalic.woff') format('woff'), url('fonts/Karla-BoldItalic.ttf') format('truetype');
  font-style: italic;
  font-style: oblique;
}

body {
  font-family: OSjsFont, sans-serif;
  font-size : 120%;
  color : #222;
  background : #fff url('back.png');
  background-repeat : no-repeat;
  background-size : 100% auto;
}
a {
  text-decoration : none;
}
a.super {
  vertical-align : super;
  font-size : 50%;
}
.indented {
  padding-left : 20px;
}

iframe {
  margin : 0;
  padding : 0;
  border : 0 none;
  outline : none;
}

main, nav, section, footer {
  display : block;
}

main {
  width : 970px;
  margin : 0 auto;
}

section {
}

section.Rakklam {
  text-align : center;
  margin-bottom : 80px;
  margin-top : 80px;
}

section#Main {
  color : #000;
}
  section#Main h1 {
    font-size : 400%;
    margin-bottom : 0;
    padding-bottom : 0;
    color : #000;
  }
  section#Main h2 {
    margin-top : 20px;
    padding-top : 0;
    font-size : 120%;
  }

section.Point {
  line-height : 160%;
  margin-bottom : 100px;
  color : #444;
}
  section.Point h1 {
    font-size : 220%;
    padding-top : 0;
    margin-top : 0;
    color : #222;
  }
  section.Point a {
    color : #DD7940;
  }

section.Notice {
  margin-bottom : 40px;
}
  section.Notice p {
    vertical-align : super;
    font-size : 80%;
    text-align : center;
    color : #999;
  }

footer {
  margin-top : 120px;
  padding : 40px;
  font-size : 80%;
  line-height : 200%;
  text-align : center;
}

a.Button {
  display : inline-block;
  text-align : center;
  min-width : 310px;
  padding : 60px;
  background : #e6e6e6;
  color : #000;
  margin : 20px;
  border : 5px solid #fff;
  font-size : 140%;

  -webkit-border-radius : 10px;
  -moz-border-radius : 10px;
  -ms-border-radius : 10px;
  -o-border-radius : 10px;
  border-radius : 10px;
}
a.Button:hover {
  border : 5px solid rgba(0, 0, 0, .5);
}
a.Button.Download {
  background : #A7F1B0;
  color : #000;
}

div#Buttons {
  text-align : center;
  margin-top : 40px;
  margin-bottom : 40px;
}
