
/**
 * PanelItemClock
 */
corewm-panel .PanelItemClock {
  flex : 0 0 55px;
  cursor : default;
  overflow : hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-align : center;
}
corewm-panel .PanelItemClock > div {
  display : inline-block;
  vertical-align : middle;
}
