
/**
 * PanelItemWindowList
 */
corewm-panel .PanelItemWindowList {
  overflow : hidden;
  min-width : 100px;
}
corewm-panel .PanelItemWindowList img {
  width : 16px;
}
corewm-panel .PanelItemWindowList .Button {
  margin-right : 12px;
}

@media all and (max-width: 800px) {

  corewm-panel .PanelItemWindowList span {
    display: none;
  }

}
