@import 'animations.less';
body[data-style-theme="dark"] {

  @import 'theme.less';

  @base_background_color  : #353535;
  @base_foreground_color  : #ffffff;
  @base_shadow_unfocused  : 0px 0px 10px 1px rgba(0, 0, 0, .3);
  @base_shadow_focused    : 0px 0px 10px 1px rgba(0, 0, 0, .6);

  @gui_selected_background_color       : #2d73d2;
  @gui_selected_foreground_color       : #ffffff;

  @gui_zebra_foreground_color          : inherit;
  @gui_zebra_background_color          : #5A5A5A;

  @gui_border_color                    : #232323;
  @gui_background_color                : #444444;

  @gui_input_border_color              : #232323;
  @gui_input_background_color          : #777777;
  @gui_input_foreground_color          : @base_foreground_color;
  @gui_input_disabled_border_color     : #000000;
  @gui_input_disabled_background_color : #333232;
  @gui_input_disabled_foreground_color : #565656;

  @gui_button_border_color             : @gui_input_border_color;
  @gui_button_background_color         : @base_background_color;
  @gui_button_foreground_color         : @base_foreground_color;
  @gui_button_background               : @base_background_color;
  @gui_button_active_border_color      : #333333;
  @gui_button_active_foreground_color  : @gui_button_foreground_color;

  @gui_progress_bar_background : @gui_selected_background_color url('./gui/progressbar.png') repeat-x center;

  .application-window-button-entry::after,
  .application-window-button-entry::before {
    content : '';
    position : absolute;
    top : 50%;
    left : 50%;
    margin-top : -.5em;
    margin-left : -.5em;
    display : block;
    width : 1em;
    height : 1em;
    border-radius : 100%;
    box-sizing : border-box;
  }

  application-window-top > .application-window-button-entry::before {
    background-color : #bababa;
    background : linear-gradient(to bottom, #bababa 0%,#d9d9d9 100%);
    z-index : 1;
  }

  application-window-top > .application-window-button-entry::after {
    border : 1px solid rgba(102, 102, 102, 0.5);
    z-index : 2;
  }

  application-window-top > .application-window-button-entry:active::after {
    box-shadow: inset 0 0 .2em rgba(0, 0, 0, .2);
  }

  application-window[data-focused="true"] > application-window-top > application-window-button-maximize.application-window-button-entry:active::before,
  application-window[data-focused="true"] > application-window-top > application-window-button-maximize.application-window-button-entry::before {
    background: #8dd22b;
    background: -moz-linear-gradient(top, #8dd22b 0%, #b1ec70 100%);
    background: -webkit-linear-gradient(top, #8dd22b 0%,#b1ec70 100%);
    background: linear-gradient(to bottom, #8dd22b 0%,#b1ec70 100%);
  }
  application-window[data-focused="true"] > application-window-top > application-window-button-minimize.application-window-button-entry:active::before,
  application-window[data-focused="true"] > application-window-top > application-window-button-minimize.application-window-button-entry::before {
    background: #f9c435;
    background: -moz-linear-gradient(top, #f9c435 0%, #fdd675 100%);
    background: -webkit-linear-gradient(top, #f9c435 0%,#fdd675 100%);
    background: linear-gradient(to bottom, #f9c435 0%,#fdd675 100%);
  }
  application-window[data-focused="true"] > application-window-top > application-window-button-close.application-window-button-entry:active::before,
  application-window[data-focused="true"] > application-window-top > application-window-button-close.application-window-button-entry::before {
    background: #e56c5c;
    background: -moz-linear-gradient(top, #e56c5c 0%, #f09c8d 100%);
    background: -webkit-linear-gradient(top, #e56c5c 0%,#f09c8d 100%);
    background: linear-gradient(to bottom, #e56c5c 0%,#f09c8d 100%);
  }

  application-window[data-focused="true"] > application-window-top > application-window-button-maximize:hover::before {
    background: #b1ec70;
    background: -moz-linear-gradient(top, #b1ec70 0%, #8dd22b 100%);
    background: -webkit-linear-gradient(top, #b1ec70 0%,#8dd22b 100%);
    background: linear-gradient(to bottom, #b1ec70 0%,#8dd22b 100%);
  }
  application-window[data-focused="true"] > application-window-top > application-window-button-minimize:hover::before {
    background: #fdd675;
    background: -moz-linear-gradient(top, #fdd675 0%, #f9c435 100%);
    background: -webkit-linear-gradient(top, #fdd675 0%,#f9c435 100%);
    background: linear-gradient(to bottom, #fdd675 0%,#f9c435 100%);
  }
  application-window[data-focused="true"] > application-window-top > application-window-button-close:hover::before {
    background: #f09c8d;
    background: -moz-linear-gradient(top, #f09c8d 0%, #e56c5c 100%);
    background: -webkit-linear-gradient(top, #f09c8d 0%,#e56c5c 100%);
    background: linear-gradient(to bottom, #f09c8d 0%,#e56c5c 100%);
  }

}
