/**
 * WindowManager
 */
#WindowList {
  position : absolute;
  top : 0px;
  left : 0px;
  right : 0px;
  height : 36px;
  overflow : visible;
  z-index : 2;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#WindowList.Ontop {
  z-index : 9999998;
}
#WindowList.Bottom {
  top : auto;
  bottom : 0px;
}

#WindowList ul {
  position : absolute;
  top : 5px;
  left : 5px;
  bottom : 5px;
  right : 5px;
  z-index : 2;

  overflow : hidden;
  list-style-type : none;
  padding : 0;
  margin : 0;
}

#WindowList li {
  margin : 0;
  padding : 0;
  padding-left : 5px;
  padding-right : 5px;
  margin-left : 5px;
  height : 26px;
  line-height : 26px;
  float : left;
  max-width : 150px;

  white-space : nowrap;
  display : block;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
#WindowList li:last-child {
  margin-right : 0;
}
#WindowList .Background {
  position : absolute;
  top : 0px;
  left : 0px;
  bottom : 0px;
  right : 0px;
  z-index : 1;
}
#WindowList li span {
  padding-left : 5px;
}
#WindowList li img {
  vertical-align : middle;
}

/* Animations */

@-webkit-keyframes show {
  50% { -webkit-transform: scale(1.03); }
}
@-moz-keyframes show {
  50% { -moz-transform: scale(1.03); }
}
.Window {
 -webkit-transition: opacity .10s ease-in-out;
    -moz-transition: opacity .10s ease-in-out;
         transition: opacity .10s ease-in-out;

 -webkit-animation: show .3s linear 1;
    -moz-animation: show .3s linear 1;
         animation: show .3s linear 1;
}

@-webkit-keyframes pulse {
  0%   {-webkit-transform: scale(0.95); opacity: 0;}
  8%   {-webkit-transform: scale(1.0); opacity: 0;}
  15%  {-webkit-transform: scale(1.001); opacity: 1;}
  30%  {-webkit-transform: scale(1.005); opacity: 1;}
  100% {opacity: 0; -webkit-transform: scale(1);}
}
@-moz-keyframes pulse {
  0%   {-moz-transform: scale(0.95); opacity: 0;}
  8%   {-moz-transform: scale(1.0); opacity: 0;}
  15%  {-moz-transform: scale(1.001); opacity: 1;}
  30%  {-moz-transform: scale(1.005); opacity: 1;}
  100% {opacity: 0; -moz-transform: scale(1);}
}
.WindowDropRect {
  -webkit-animation: pulse 2s linear infinite;
     -moz-animation: pulse 2s linear infinite;

  border-image: initial;
}

@-webkit-keyframes pulseback {
  50% { opacity: .35; }
}
@-moz-keyframes pulseback {
  50% { opacity: .35; }
}
#Background.Blinking {
  background : #fff;
  opacity : 0;

  -webkit-animation: pulseback 2s linear infinite;
     -moz-animation: pulseback 2s linear infinite; 
          animation: pulseback 2s linear infinite; 
}
