/**
 * WindowManager Panels
 */
.WMPanel {
  position : absolute;
  top : 0px;
  left : 0px;
  right : 0px;
  height : 26px;
  overflow : visible;
  z-index : 2;
  padding : 5px;
  margin : 0;

  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.WMPanel.Ontop {
  z-index : 9999998;
}
.WMPanel.Bottom {
  top : auto;
  bottom : 0px;
}
.WMPanel.Top.Autohide {
  top : -30px;
}
.WMPanel.Bottom.Autohide {
  bottom : -30px;
}
.WMPanel ul {
  margin : 0;
  padding : 0;
  list-style-type : none;
  position : relative;
  z-index : 10;
}
.WMPanel > ul {
  margin : 0;
  padding : 0;
  list-style-type : none;
  height : 26px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-wrap: nowrap;
     -moz-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
       -o-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
.WMPanel ul > li.Button {
  margin : 0;
  padding : 0;
  padding-left : 5px;
  padding-right : 5px;
  margin-left : 5px;
  height : 26px;
  line-height : 26px;
  max-width : 150px;

  white-space : nowrap;
  display : inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.WMPanel ul > li.Button:last-child {
  margin-right : 0;
}
.WMPanel ul > li.Button span {
  padding-left : 5px;
}
.WMPanel ul > li.Button img {
  vertical-align : middle;
}
.WMPanel > ul > li ul {
  display : inline-block;
}

.WMPanel .PanelItem {
  min-width : 26px;
  min-height : 26px;
}
.WMPanel .PanelItemStatic {
}
.WMPanel .PanelItemFill {
  -webkit-flex: 0 0 auto;
     -moz-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
       -o-flex: 0 0 auto;
          flex: 0 0 auto;
}
.WMPanel .PanelItemWide {
  -webkit-flex: 1 1 auto;
     -moz-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
       -o-flex: 1 1 auto;
          flex: 1 1 auto;
}

.WMPanel .PanelItemRight {
  -webkit-align-self : flex-end;
     -moz-align-self : flex-end;
      -ms-align-self : flex-end;
       -o-align-self : flex-end;
          align-self : flex-end;
}

/**
 * WindowManager Panel Items
 */

.WMPanel .PanelItemClock {
  width : 70px;
  cursor : default;
}
.WMPanel .PanelItemClock > div {
  display : inline-block;
  vertical-align : middle;
}
.WMPanel .PanelItemWindowList {
  overflow : hidden;
}

/**
 * Window Switcher
 */
#WindowSwitcher {
  position : absolute;
  top : 50%;
  left : 50%;
  width : 256px;
  z-index : 999999;
  overflow : hidden;
  margin-left : -128px;
}
#WindowSwitcher > div {
  width : 256px;
  height : 32px;
  line-height : 32px;
  overflow : hidden;
}
#WindowSwitcher > div > img {
  vertical-align : middle;
  margin-right : 5px;
  margin-left : 5px;
}
#WindowSwitcher > div > span {
}
#WindowSwitcher > div.Active {
}

/**
 * Settings Window
 */
.Window_CoreWMSettingsWindow .WindowWrapper {
  overflow : auto;
  padding : 5px;
}
.Window_CoreWMSettingsWindow .WindowWrapper .Setting {
  position : relative;
  height : 42px;
  margin : 5px;
}

.Window_CoreWMSettingsWindow .WindowWrapper .Setting label {
  display : block;
  height : 16px;
}
.Window_CoreWMSettingsWindow .WindowWrapper .Setting input[type=text],
.Window_CoreWMSettingsWindow .WindowWrapper .Setting select {
  position : absolute;
  left : 0px;
  width : 100%;
}
.Window_CoreWMSettingsWindow .WindowWrapper .Setting.SettingsNoButton input[type=text],
.Window_CoreWMSettingsWindow .WindowWrapper .Setting.SettingsNoButton select {
  right : 0px;
  width : 100%;
}
.Window_CoreWMSettingsWindow .WindowWrapper .Setting .GUIButton {
  position : absolute;
  right : 0px;
}
.Window_CoreWMSettingsWindow .WindowWrapper .GUIButton.Save {
  position : absolute;
  right : 5px;
  bottom : 5px;
}

.Window_CoreWMSettingsWindow .WindowWrapper .SettingTabs {
  position : absolute;
  top : 5px;
  left : 5px;
  right : 5px;
  bottom : 34px;
  z-index : 9999;
}


.Window_CoreWMSettingsWindow .WindowWrapper .PanelItemsContainer {
  height : 200px;
  position : relative;
}

.Window_CoreWMSettingsWindow .WindowWrapper .PanelItemListView {
  height : 168px;
  width : 435px;
}
.Window_CoreWMSettingsWindow .WindowWrapper .PanelItemListView .Header {
  display : none;
}
.Window_CoreWMSettingsWindow .WindowWrapper .PanelItemListView .Scroll {
  top : 0;
  margin-top : 0;
}

.Window_CoreWMSettingsWindow .WindowWrapper .PanelItemButtons {
  position : absolute;
  right : 0px;
  top : 0px;
  bottom : 0px;
  width : 30px;
}
.Window_CoreWMSettingsWindow .WindowWrapper .PanelItemButtons > .GUIButton {
  display : block;
  position : relative;
  margin-bottom : 5px;
  height : 30px;
}
.Window_CoreWMSettingsWindow .WindowWrapper .PanelItemButtons > .GUIButton button {
  height : 30px;
  text-align : center;
}

.Window_CoreWMPanelItemWindow .WindowWrapper {
  padding : 5px;
}
.Window_CoreWMPanelItemWindow .GUIListView {
  height : 293px;
}
.Window_CoreWMPanelItemWindow .GUIButton {
  margin-top : 5px;
}

.CoreWMDesktopIconView {
  background : transparent;
  position : absolute;
  top : 10px;
  left : 10px;
  right : 10px;
  bottom : 10px;
  z-index : 1;
  border : 0 none;
  box-shadow : none;
}
/*
.CoreWMDesktopIconView span {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
*/
