/**
 * WindowManager
 */
#WindowList {
  position : absolute;
  top : 0px;
  left : 0px;
  right : 0px;
  height : 36px;
  overflow : visible;
  z-index : 2;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#WindowList.Ontop {
  z-index : 9999998;
}
#WindowList.Bottom {
  top : auto;
  bottom : 0px;
}

#WindowList ul {
  position : absolute;
  top : 5px;
  left : 5px;
  bottom : 5px;
  right : 5px;
  z-index : 2;

  overflow : hidden;
  list-style-type : none;
  padding : 0;
  margin : 0;
}

#WindowList li {
  margin : 0;
  padding : 0;
  padding-left : 5px;
  padding-right : 5px;
  margin-left : 5px;
  height : 26px;
  line-height : 26px;
  float : left;
  max-width : 150px;

  white-space : nowrap;
  display : block;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
#WindowList li:last-child {
  margin-right : 0;
}
#WindowList .Background {
  position : absolute;
  top : 0px;
  left : 0px;
  bottom : 0px;
  right : 0px;
  z-index : 1;
}
#WindowList li span {
  padding-left : 5px;
}
#WindowList li img {
  vertical-align : middle;
}
