.Window_ApplicationFileManagerWindow {
}
.Window_ApplicationFileManagerWindow .WindowWrapper {
}
.Window_ApplicationFileManagerWindow .FileManagerSideView {
  position : absolute;
  top : 30px;
  left : 5px;
  bottom : 30px;
  width : 140px;
}
.Window_ApplicationFileManagerWindow .FileManagerSideView .Header {
  display : none;
}
.Window_ApplicationFileManagerWindow .FileManagerSideView .Scroll {
  top : 0px;
}
.Window_ApplicationFileManagerWindow .FileManagerSideView tr {
  background : inherit;
  background-color : inherit;
}
.Window_ApplicationFileManagerWindow .FileManagerSideView td:first-child {
  padding-left : 5px;
}
.Window_ApplicationFileManagerWindow .FileManagerFileView {
  position : absolute;
  top : 30px;
  left : 155px;
  bottom : 30px;
  right : 5px;
  margin : 0;
  padding : 0;
  overflow : auto;
}
