.Window_ApplicationFileManagerWindow {
}
.Window_ApplicationFileManagerWindow .WindowWrapper {
}
.Window_ApplicationFileManagerWindow .FileManagerPanedView {
  position : absolute;
  top : 32px;
  left : 5px;
  bottom : 32px;
  right : 5px;
}
.Window_ApplicationFileManagerWindow .FileManagerPanedView .View.Side {
  width : 140px;
}
.Window_ApplicationFileManagerWindow .FileManagerSideView {
  position : absolute;
  top : 0px;
  left : 0px;
  bottom : 0px;
  right : 0px;
}
.Window_ApplicationFileManagerWindow .FileManagerSideView .Header {
  display : none;
}
.Window_ApplicationFileManagerWindow .FileManagerSideView .Scroll {
  top : 0px;
}
.Window_ApplicationFileManagerWindow .FileManagerSideView tr {
  background : inherit !important;
  background-color : inherit !important;
}
.Window_ApplicationFileManagerWindow .FileManagerSideView td:first-child {
  padding-left : 5px;
}
.Window_ApplicationFileManagerWindow .FileManagerFileView {
  position : absolute;
  top : 0px;
  left : 0px;
  bottom : 0px;
  right : 0px;
  margin : 0;
  padding : 0;
}
