
/**
 * Application Chooser Dialog
 */
.ApplicationChooserDialog{
}

.ApplicationChooserDialog .GUIListView {
  position : absolute;
  top : 60px;
  left : 0px;
  right : 0px;
  bottom : 60px;
}

.ApplicationChooserDialog .GUICheckbox {
  position : absolute;
  left : 0px;
  right : 0px;
  bottom : 35px;
}

