
/* ColorDialog */
/*.ColorDialog {
}*/
.ColorDialog .GUIColorSwatch {
  position : absolute;
  top : 0px;
  left : 0px;
  width : 200px;
  height : 200px;
  overflow : hidden;
}
.ColorDialog .ColorSliders {
  position : absolute;
  top : 0px;
  left : 205px;
  height : 150px;
  right : 0px;
}
.ColorDialog .ColorSelected {
  position : absolute;
  left : 0px;
  height : 20px;
  width : 200px;
  top : 210px;
  background : #fff;
  border : 1px solid rgba(34, 34, 34, .5);
}
.ColorDialog .GUISlider,
.ColorDialog .Label {
  position : absolute;
  left : 0px;
  right : 0px;
}
.ColorDialog .LabelR {
  top : 0px;
}
.ColorDialog .LabelG {
  top : 50px;
}
.ColorDialog .LabelB {
  top : 100px;
}
.ColorDialog .LabelA {
  top : 150px;
}
.ColorDialog .SliderR {
  top : 20px;
}
.ColorDialog .SliderG {
  top : 70px;
}
.ColorDialog .SliderB {
  top : 120px;
}
.ColorDialog .SliderA {
  top : 170px;
}

