
/**
 * Error Dialog
 */
.ErrorDialog {
  padding : 5px;
}
.ErrorDialog .Message {
  height : 20px;
}
.ErrorDialog .Summary {
  background : #fff;
  display : block;
  width : 100%;
  height : 165px;
}
.ErrorDialog .Trace {
  display : block;
  width : 100%;
  height : 80px;
  resize : none;
  outline : none;
}
.ErrorDialog .OK {
  position : absolute;
  bottom : 5px;
  right : 5px;
  width : 100px;
}
.ErrorDialog .Bug {
  position : absolute;
  bottom : 5px;
  right : 115px;
  width : 100px;
}
.ErrorDialog .Label {
  font-weight : bold;
  margin-top : 10px;
}
.ErrorDialog.WithTrace .Summary {
  height : 50px;
}
.ErrorDialog textarea {
  white-space : pre;
}

