
/*.FileSaveDialog,
.FileOpenDialog {
}*/

.FileSaveDialog .SelectRoot,
.FileOpenDialog .SelectRoot {
  position : absolute;
  top : 0px;
  left : 0px;
  right : 0px;
  width : 100%;
}

.FileOpenDialog .FileDialogFileView,
.FileSaveDialog .FileDialogFileView {
  position : absolute;
  top : 0px;
  left : 0px;
  right : 0px;
  bottom : 30px;
}
.FileOpenDialog.HasRootSelection .FileDialogFileView,
.FileSaveDialog.HasRootSelection .FileDialogFileView {
  top : 28px;
}
.FileSaveDialog .FileDialogFileView {
  bottom : 60px !important;
}
.FileSaveDialog .GUIText {
  display : block;
  position : absolute;
  left : 0px;
  right : 0px;
  bottom : 30px;
  width : 100%;
}
.FileSaveDialog .FileDialogFiletypeSelect {
  display : block;
  position : absolute;
  right : 0px;
  bottom : 30px;
  width : 200px;
  z-index : 10;
}
.FileSaveDialog.HasFileTypes .GUIText {
  right : 210px;
  width : auto;
}

.FileSaveDialog .GUIStatusBar,
.FileOpenDialog .GUIStatusBar {
  border : 0 none !important;
  right : 230px;
  bottom : -2px !important;
}

