.Window_ApplicationPreviewWindow .WindowWrapper {
  overflow : hidden;
}
.Window_ApplicationPreviewWindow .WindowWrapper .Frame {
  position : absolute;
  top : 35px;
  left : 0px;
  right : 0px;
  bottom : 0px;
}

.Window_ApplicationPreviewWindow .WindowWrapper audio,
.Window_ApplicationPreviewWindow .WindowWrapper video {
  position : absolute;
  display : block;
  top : 0px;
  left : 0px;
  right : 0px;
  bottom : 0px;
  background : #000;
}

