body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size : 14px;
  margin : 0;
  padding : 0;
  overflow : hidden;
  color : #4D4545;
}

a {
  color : #572A79;
}

li {
  padding : 5px;
}

li a {
  text-decoration : none;
}

header {
  background : #572a79 url('/images/logo-header.png') no-repeat 20px 20px;
  color : #fff;
  height : 80px;
  line-height : 80px;
  padding-left : 180px;
}
header h1 {
  font-size : 20px;
  margin : 0;
  padding : 0;
  visibility : hidden;
}
header ul {
  list-style-type : none;
  display : block;
  position : absolute;
  left : 0px;
  top : 0px;
  right : 0px;
  height : 80px;
  line-height : 80px;
  margin : 0;
  padding : 0;
  text-align : right;
}
header li {
  display : inline-block;
  margin : 0;
  padding : 0;
  margin-right : 20px;
}
header li a {
  font-size : 20px;
  color : #fff;
  text-decoration : none;
}

nav {
  position : absolute;
  left : 0px;
  top : 80px;
  bottom : 0px;
  width : 300px;
  background : #f2f2f2;
  box-sizing : border-box;
  padding : 20px;
  overflow : auto;
}

nav ul {
  padding-left : 15px;
}

nav > ul ul {
  padding-top : 5px;
}

nav li a.Class {
  font-weight : bold;
}

content {
  position : absolute;
  left : 300px;
  top : 80px;
  right : 0px;
  bottom : 0px;
  overflow : auto;
  box-sizing : border-box;
  padding : 20px;
  overflow : auto;
}

content div.section-function {
  background : #f2f2f2;
  padding : 20px;
  margin-bottom : 20px;
}

content div.section-class {
  background : #f2f2f2;
  padding : 20px;
  margin-bottom : 20px;
}
content div.section-class > div {
  background : #fff;
  padding : 20px;
  margin-bottom : 20px;
}

content table {
  border : 0 none;
  border-collapse : collapse;
  margin-left : 20px;
}
content thead * {
  text-align : left;
  font-weight : bold;
  padding : 10px;
  background : #aaa;
}
content tbody * {
  padding : 10px;
  background : #ccc;
}
content tbody td:nth-child(1) {
  width : 100px;
}
content tbody td:nth-child(2) {
  width : 100px;
  text-decoration : underline;
}
content tbody td:nth-child(3) {
  min-width : 400px;
  font-style : italic;
}

content div pre {
  padding : 20px;
  color : #333;
}
