
/**
 * Theme
 */
@font-face {
  font-family:OSjsFont;
  src:url('default/fonts/Karla-Regular.ttf');
}
@font-face {
  font-family:OSjsFont;
  font-weight:bold;
  src:url('default/fonts/Karla-Bold.ttf');
}
@font-face {
  font-family:OSjsFont;
  font-style:italic;
  src:url('default/fonts/Karla-Italic.ttf');
}
@font-face {
  font-family:OSjsFont;
  font-style:italic;
  font-weight:bold;
  src:url('default/fonts/Karla-BoldItalic.ttf');
}
body {
  font-family:OSjsFont, Sans-serif;
}

/**
 * Window
 */
.Window {
  border : 1px solid rgba(34, 34, 34, .5);
  box-shadow : 0px 0px 10px 1px rgba(34, 34, 34, .1);
  opacity : 0.8;
  overflow : hidden;
  color : #333;
}
.Window.WindowHintFocused {
  box-shadow : 0px 0px 10px 1px rgba(34, 34, 34, .3);
  opacity : 1.0;
}
.WindowTop {
  border-bottom : 1px solid rgba(34, 34, 34, .5);
  background-color: #737373;
  background: linear-gradient(to bottom, #737373 0%, #4F4F4F 100%);
}
.WindowTop:active,
.WindowTitle:active {
  cursor : move;
}
.WindowTitle {
  color : #777777;
  text-shadow: 0px 0px 2px rgba(34, 34, 34, .5);
  line-height : 28px;
}
.Window.WindowHintFocused .WindowTop {
  background-color: #41454d;
  background: linear-gradient(to bottom, #41454d 0%, #31363d 100%);
}
.Window.WindowHintFocused .WindowTitle {
  color : #fff;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, .9);
}
.WindowWrapper {
  background : #d6d6d6;
  overflow : hidden;
}
.WindowButton {
  cursor : pointer;
}

.WindowButtonMaximize {
  background : url('default/wm/prelight_unfocused.png') no-repeat 2px 2px,
               url('default/wm/maximize_unfocused.png') no-repeat 2px 2px;
}
.WindowButtonMaximize:hover {
  background : url('default/wm/prelight.png') no-repeat 2px 2px,
               url('default/wm/maximize.png') no-repeat 2px 2px !important;
}
.WindowButtonMaximize:active {
  background : url('default/wm/pressed.png') no-repeat 2px 2px,
               url('default/wm/maximize.png') no-repeat 2px 2px !important;
}
.Window.WindowHintFocused .WindowButtonMaximize {
  background : url('default/wm/maximize.png') no-repeat 2px 2px;
}

.WindowButtonMinimize {
  background : url('default/wm/prelight_unfocused.png') no-repeat 2px 2px,
               url('default/wm/minimize_unfocused.png') no-repeat 2px 2px;
}
.WindowButtonMinimize:hover {
  background : url('default/wm/prelight.png') no-repeat 2px 2px,
               url('default/wm/minimize.png') no-repeat 2px 2px !important;
}
.WindowButtonMinimize:active {
  background : url('default/wm/pressed.png') no-repeat 2px 2px,
               url('default/wm/minimize.png') no-repeat 2px 2px !important;
}
.Window.WindowHintFocused .WindowButtonMinimize {
  background : url('default/wm/minimize.png') no-repeat 2px 2px;
}

.WindowButtonClose {
  background : url('default/wm/prelight_unfocused.png') no-repeat 2px 2px,
               url('default/wm/close_unfocused.png') no-repeat 2px 2px;
}
.WindowButtonClose:hover {
  background : url('default/wm/prelight.png') no-repeat 2px 2px,
               url('default/wm/close.png') no-repeat 2px 2px !important;
}
.WindowButtonClose:active {
  background : url('default/wm/pressed.png') no-repeat 2px 2px,
               url('default/wm/close.png') no-repeat 2px 2px !important;
}
.Window.WindowHintFocused .WindowButtonClose {
  background : url('default/wm/close.png') no-repeat 2px 2px;
}

.WindowResize {
  cursor : se-resize;
  background : rgba(34, 34, 34, .1);
}
.WindowTop, .WindowTop > * {
  cursor : default;
}
.WindowLoading {
  background : #fff; /*rgba(0, 0, 0, .9);*/
}
.WindowLoadingIndicator {
  background : url('default/loading.gif');
}

/**
 * GUI Menu
 */

body .Menu {
  background : #e6e6e6;
  color : #000;
  box-shadow : 0px 0px 10px 1px rgba(34, 34, 34, .3);
  border : 1px solid rgba(34, 34, 34, .5);
}

body .Menu li {
  cursor : pointer;
}

body .Menu li:hover {
  background : #333;
  color : #fff;
}
body .Menu li.Disabled {
  color : #aaa;
}

/**
 * GUI Inputs
 */
.Window input[type=text],
.Window input[type=password],
.Window select,
.Window textarea {
  margin : 0;
  padding : 2px;
  outline : none;
  min-height : 24px;

  box-shadow : 0px 0px 1px 1px #cecece;
  background : #fff;
  border : 1px solid #a0a0a0;
  color : #000;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Window input[type=text]:disabled,
.Window input[type=text].Disabled,
.Window input[type=password]:disabled,
.Window input[type=password].Disabled,
.Window select:disabled,
.Window select.Disabled,
.Window textarea:disabled,
.Window textarea.Disabled {
  color : #a0a0a0;
}
.Window select {
  -webkit-appearance: button;
  -webkit-border-radius: 0px;
  -moz-appearance: button;
  -moz-border-radius: 0px;
  padding : 3px 0 2px 2px;
}
.Window input[type=text],
.Window input[type=password] {
  padding-left : 2px;
  padding-right : 2px;
}
.Window.WindowHintFocused input[type=text],
.Window.WindowHintFocused select,
.Window.WindowHintFocused textarea {
  border : 1px solid #6a6a6a;
}

.Window button,
.Window input[type=button],
.Window input[type=submit] {
  margin : 0;
  padding : 0;
  padding-left : 5px;
  padding-right : 5px;
  height : 24px;
  min-width : 30px;
  vertical-align : middle;
  outline : none;

  cursor : pointer;
  box-shadow : 0px 0px 1px 1px #cecece;
  background : #555555;
  background: linear-gradient(to bottom, #fefefe 0%, #e1e1e1 100%);
  border : 1px solid #a0a0a0;
  color : #000;
}
.Window button.Disabled,
.Window button:disabled,
.Window input[type=button].Disabled
.Window input[type=button]:disabled,
.Window input[type=submit].Disabled,
.Window input[type=submit]:disabled {
  background: linear-gradient(to bottom, #dfdfdf 0%, #d0d0d0 100%);
}

.Window button:focus,
.Window input[type=button]:focus,
.Window input[type=submit]:focus {
  box-shadow : 0px 0px 1px 1px #ffffff;
  border-color : 909090;
}

.Window button:active,
.Window button.Active,
.Window input[type=button]:active,
.Window input[type=button].Active,
.Window input[type=submit]:active,
.Window input[type=submit].Active {
  background : #333333;
  background: linear-gradient(to bottom, #c8c8c8 0%, #a8a8a8 100%);
  border : 1px solid #717171;
}

.WindowDropRect {
  border : 4px solid rgba(255, 255, 255, .7);
  margin : -4px;
  border-radius : 1px;
}


/**
 * CoreWM (external)
 */
body #WindowList li {
  background : #303030;
  margin-top : -1px;
  cursor : pointer;
  color : #777777;
}
body #WindowList li.Focused {
  color : #fff !important;
}
body #WindowList li:hover {
  background : #555;
  color : #999;
}
body #WindowList li:active {
  background : #555;
  color : #eee;
}
body #WindowList .Background {
  background : #303030;
  border-bottom : 1px solid #242424;
  box-shadow : 0px 0px 10px 1px rgba(34, 34, 34, .3);
}

.Notification {
  background : #3c3c3c;
  border : 1px solid #313131;
  box-shadow : 0px 0px 10px 1px rgba(34, 34, 34, .3);
  color : #fff;
}
.Notification .Title,
.Notification .Message {
  font-weight : bold;
  line-height : 16px;
}

/**
 * GUI
 */

/* GUIMenuBar */
.GUIMenuBar {
  background : #c2c2c2;
}
.GUIMenuBar > ul > li {
  cursor : pointer;
}
.GUIMenuBar > ul > li:hover {
  background : #333;
  color : #fff;
}

/* GUIStatusBar */
.GUIStatusBar {
  border-top : 1px solid #c2c2c2;
}

/* GUIListView */
.GUIListView {
  box-shadow : 0px 0px 1px 1px #cecece;
  border : 1px solid #8d8d8d;
  background : #fff;
}
.GUIListView tr {
  background : #fff;
}
.GUIListView thead tr {
  background : #e6e6e6;
  font-weight : bold;
}
.GUIListView tbody tr:nth-child(2n+1) {
  background : #aaa;
}
.GUIListView tr.active td {
  background : #333;
  color : #fff;
}

/* GUIIconView */
.GUIIconView {
  background : #fff;
  box-shadow : 0px 0px 1px 1px #cecece;
  border : 1px solid #8d8d8d;
}
.GUIIconView li {
  cursor : pointer;
}
.GUIIconView .active {
  background : #333;
  color : #fff;
}
.GUIIconView span {
  text-shadow: 0px 0px 2px rgba(34, 34, 34, .5);
}

/* GUIColorSwatch */
.GUIColorSwatch {
  border : 1px solid rgba(34, 34, 34, .5);
}

/* GUISlider */
.GUISlider {
  margin-top : 2px;
  margin-bottom : 2px;
}
.GUISlider.horizontal .Root {
  background : #b6b6b6;
  height : 6px;
  top : 50%;
  margin-top : -4px;
  border : 1px solid #777777;
}
.GUISlider.vertical .Root {
  background : #b6b6b6;
  width : 6px;
  top : 0px;
  left : 50%;
  margin-left : -4px;
  border : 1px solid #777777;
}
.GUISlider .Button {
  width : 18px;
  height : 18px;
  cursor : pointer;

  cursor : pointer;
  background : #555555;
  background: linear-gradient(to bottom, #fefefe 0%, #e1e1e1 100%);
  border : 1px solid #a0a0a0;
  color : #000;
}
.GUISlider .Button:hover {
  border : 1px solid #444444;
}

/* GUIToolbar */
.GUIToolbar > .Container {
  background : #c2c2c2;
}

.Window .GUIToolbar button {
}
.Window .GUIToolbar button:hover {
}
.Window .GUIToolbar button:active,
.Window .GUIToolbar button.Active {
}
.GUIToolbar.horizontal li.Separator {
  border-left : 1px solid #333333;
}

/* GUIProgressBar */
.GUIProgressBar .Container {
  background : #b6b6b6;
  border : 1px solid #777777;
  box-shadow : 0px 0px 1px 1px #cecece;
}
.GUIProgressBar .Bar {
  text-align : center;
  background : #fff url('default/gui/progressbar.png') repeat-x center;
}
.GUIProgressBar .Label {
  color : #fff;
  text-shadow: 0px 0px 2px rgba(34, 34, 34, .5);
}
.Window.WindowHintFocused .GUIProgressBar .Container {
  box-shadow : 0px 0px 1px 1px rgba(34, 34, 34, .1);
}

/* GUIRichtText */
.GUIRichText {
  box-shadow : 0px 0px 1px 1px #cecece;
  border : 1px solid #8d8d8d;
  background : #fff;
  color : #000;
}

/* GUITabs */
.GUITabs .TabContents {
  background : #ececec;
  border : 1px solid #9d9d9d;
}
.GUITabs .Tabs .Tab.Active {
  background : #ececec;
  border : 1px solid #9d9d9d;
  border-bottom : 1px solid #ececec;
}
.GUITabs .Tabs .Tab {
  cursor : pointer;
  background : #dedede;
  border : 1px solid #b1b1b1;
}
