
/**
 * Theme
 */
@font-face {
  font-family:OSjsFont;
  src:url('default/fonts/Sansation.ttf');
}
@font-face {
  font-family:OSjsFont;
  font-weight:bold;
  src:url('default/fonts/SansationBold.ttf');
}
@font-face {
  font-family:OSjsFont;
  font-style:italic;
  src:url('default/fonts/SansationOblique.ttf');
}
body {
  font-family:OSjsFont, Sans-serif;
}
.Window {
  border : 1px solid rgba(34, 34, 34, .5);
  box-shadow : 0px 0px 10px 1px rgba(34, 34, 34, .1);
  opacity : 0.8;
  overflow : hidden;
  color : #333;
}
.Window.WindowHintFocused {
  box-shadow : 0px 0px 10px 1px rgba(34, 34, 34, .3);
  opacity : 1.0;
}
.WindowTop {
  border-bottom : 1px solid rgba(34, 34, 34, .5);
  background-color: #737373;
  background: linear-gradient(to bottom, #737373 0%, #4F4F4F 100%);
}
.WindowTop:active,
.WindowTitle:active {
  cursor : move;
}
.WindowTitle {
  color : #777777;
  text-shadow: 0px 0px 2px rgba(34, 34, 34, .5);
  line-height : 28px;
}
.Window.WindowHintFocused .WindowTop {
  background-color: #41454d;
  background: linear-gradient(to bottom, #41454d 0%, #31363d 100%);
}
.Window.WindowHintFocused .WindowTitle {
  color : #fff;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, .9);
}
.WindowWrapper {
  background : #e6e6e6;
  overflow : hidden;
}
.WindowButton {
  cursor : pointer;
}

.WindowButtonMaximize {
  background : url('default/wm/prelight_unfocused.png') no-repeat 2px 2px,
               url('default/wm/maximize_unfocused.png') no-repeat 2px 2px;
}
.WindowButtonMaximize:hover {
  background : url('default/wm/prelight.png') no-repeat 2px 2px,
               url('default/wm/maximize.png') no-repeat 2px 2px !important;
}
.WindowButtonMaximize:active {
  background : url('default/wm/pressed.png') no-repeat 2px 2px,
               url('default/wm/maximize.png') no-repeat 2px 2px !important;
}
.Window.WindowHintFocused .WindowButtonMaximize {
  background : url('default/wm/maximize.png') no-repeat 2px 2px;
}

.WindowButtonMinimize {
  background : url('default/wm/prelight_unfocused.png') no-repeat 2px 2px,
               url('default/wm/minimize_unfocused.png') no-repeat 2px 2px;
}
.WindowButtonMinimize:hover {
  background : url('default/wm/prelight.png') no-repeat 2px 2px,
               url('default/wm/minimize.png') no-repeat 2px 2px !important;
}
.WindowButtonMinimize:active {
  background : url('default/wm/pressed.png') no-repeat 2px 2px,
               url('default/wm/minimize.png') no-repeat 2px 2px !important;
}
.Window.WindowHintFocused .WindowButtonMinimize {
  background : url('default/wm/minimize.png') no-repeat 2px 2px;
}

.WindowButtonClose {
  background : url('default/wm/prelight_unfocused.png') no-repeat 2px 2px,
               url('default/wm/close_unfocused.png') no-repeat 2px 2px;
}
.WindowButtonClose:hover {
  background : url('default/wm/prelight.png') no-repeat 2px 2px,
               url('default/wm/close.png') no-repeat 2px 2px !important;
}
.WindowButtonClose:active {
  background : url('default/wm/pressed.png') no-repeat 2px 2px,
               url('default/wm/close.png') no-repeat 2px 2px !important;
}
.Window.WindowHintFocused .WindowButtonClose {
  background : url('default/wm/close.png') no-repeat 2px 2px;
}

.WindowResize {
  cursor : se-resize;
  background : rgba(34, 34, 34, .2);
}
.WindowTop, .WindowTop > * {
  cursor : default;
}
.WindowLoading {
  background : #fff; /*rgba(0, 0, 0, .9);*/
}
.WindowLoadingIndicator {
  background : url('default/loading.gif');
}

body .Menu {
  background : #e6e6e6;
  color : #000;
  box-shadow : 0px 0px 10px 1px rgba(34, 34, 34, .3);
  border : 1px solid rgba(34, 34, 34, .5);
}

body .Menu li {
  cursor : pointer;
}

body .Menu li:hover {
  background : #333;
  color : #fff;
}
body .Menu li.Disabled {
  color : #aaa;
}

.Window input[type=text],
.Window input[type=password],
.Window select,
.Window textarea {
  background : #fff;
  color : #000;
  border : 1px solid rgba(34, 34, 34, .5);
  margin : 0;
  padding : 0;
  outline : none;
  box-shadow : 0px 0px 1px 1px rgba(34, 34, 34, .05);
  min-height : 24px;
  padding-left : 2px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Window textarea {
  padding : 2px;
}
.Window select {
  -webkit-appearance: button;
  -webkit-border-radius: 0px;
  -moz-appearance: button;
  -moz-border-radius: 0px;
  padding-right : 0px;
}
.Window input[type=text],
.Window input[type=password] {
  padding-left : 2px;
  padding-right : 2px;
}
.Window.WindowHintFocused input[type=text],
.Window.WindowHintFocused select,
.Window.WindowHintFocused textarea {
  box-shadow : 0px 0px 1px 1px rgba(34, 34, 34, .1);
  border : 1px solid rgba(34, 34, 34, .5);
  color : #000;
}

.Window button,
.Window input[type=button],
.Window input[type=submit] {
  background : #555555;
  border : 1px solid #444444;
  color : #eeeeee;
  margin : 0;
  padding : 0;
  padding-left : 5px;
  padding-right : 5px;
  height : 24px;
  min-width : 30px;
  vertical-align : middle;
  outline : none;
  box-shadow : 0px 0px 1px 1px rgba(34, 34, 34, .05);
}

.Window.WindowHintFocused button,
.Window.WindowHintFocused input[type=button],
.Window.WindowHintFocused input[type=submit] {
  background : #444444;
  border : 1px solid #333333;
  color : #fff;
  box-shadow : 0px 0px 1px 1px rgba(34, 34, 34, .1);
}
.Window button:active,
.Window input[type=button]:active,
.Window input[type=submit]:active {
  background : #333333;
  border : 1px solid #222222;
  box-shadow : 0px 0px 1px 1px rgba(100, 100, 100, .3);
}

.WindowDropRect {
  border : 4px solid rgba(255, 255, 255, .7);
  margin : -4px;
  border-radius : 1px;
}


/**
 * CoreWM (external)
 */

body #WindowList li {
  background : #333333;
  margin-top : -1px;
  border : 1px solid #333333;
  cursor : pointer;
  color : #777777;
}
body #WindowList li.Focused {
  color : #fff !important;
}
body #WindowList li:hover {
  border : 1px solid #444444;
  background : #555;
  color : #999;
}
body #WindowList li:active {
  border : 1px solid #666;
  background : #555;
  color : #eee;
}
body #WindowList .Background {
  background : #333333;
  border-bottom : 1px solid #222;
  box-shadow : 0px 0px 10px 1px rgba(34, 34, 34, .3);
}

.Notification {
  background : #333333;
  border : 1px solid #222;
  box-shadow : 0px 0px 10px 1px rgba(34, 34, 34, .3);
  color : #fff;
}
.Notification .Title,
.Notification .Message {
  font-weight : bold;
  line-height : 16px;
}

/**
 * GUI
 */

/* GUIMenuBar */
.GUIMenuBar {
  background : #c2c2c2;
}
.GUIMenuBar > ul > li {
  cursor : pointer;
}
.GUIMenuBar > ul > li:hover {
  background : #333;
  color : #fff;
}

/* GUIStatusBar */
.GUIStatusBar {
  border-top : 1px solid #c2c2c2;
}

/* GUIListView */
.GUIListView {
  border : 1px solid rgba(34, 34, 34, .5);
  background : #fff;
}
.GUIListView tr {
  background : #fff;
}
.GUIListView thead tr {
  background : #e6e6e6;
  font-weight : bold;
}
.GUIListView tbody tr:nth-child(2n+1) {
  background : #aaa;
}
.GUIListView tr.active td {
  background : #333;
  color : #fff;
}

/* GUIIconView */
.GUIIconView {
  border : 1px solid rgba(34, 34, 34, .5);
  background : #fff;
}
.GUIIconView li {
  cursor : pointer;
}
.GUIIconView .active {
  background : #333;
  color : #fff;
}
.GUIIconView span {
  text-shadow: 0px 0px 2px rgba(34, 34, 34, .5);
}

/* GUIColorSwatch */
.GUIColorSwatch {
  border : 1px solid rgba(34, 34, 34, .5);
}

/* GUISlider */
.GUISlider {
}
.GUISlider .Root {
  background : #c2c2c2;
}
.GUISlider .Button {
  width : 18px;
  height : 18px;
  background : #333333;
  cursor : pointer;
  border : 1px solid #333333;
}
.GUISlider .Button:hover {
  border : 1px solid #444444;
}

/* GUIToolbar */
.GUIToolbar > .Container {
  background : #c2c2c2;
}

.Window .GUIToolbar button {
  background : #e6e6e6;
  border : 1px solid #333;
  color : #333;
}
.Window .GUIToolbar button:hover {
  border : 1px solid #777;
}
.Window .GUIToolbar button:active,
.Window .GUIToolbar button.Active {
  border : 1px solid #999;
  background : #c2c2c2;
}
.GUIToolbar.horizontal li.Separator {
  border-left : 1px solid #333333;
}

/* GUIProgressBar */
.GUIProgressBar .Container {
  background : #c2c2c2;
  border : 1px solid #333333;
  box-shadow : 0px 0px 1px 1px rgba(34, 34, 34, .05);
}
.GUIProgressBar .Bar {
  text-align : center;
  background : #fff url('default/gui/progressbar.png') repeat-x center;
}
.GUIProgressBar .Label {
  color : #fff;
  text-shadow: 0px 0px 2px rgba(34, 34, 34, .5);
}
.Window.WindowHintFocused .GUIProgressBar .Container {
  box-shadow : 0px 0px 1px 1px rgba(34, 34, 34, .1);
}

/* GUIRichtText */
.GUIRichText {
  border : 1px solid rgba(34, 34, 34, .5);
  background : #fff;
}
