.Window_ApplicationTextpadWindow .WindowWrapper {
}

.Window_ApplicationTextpadWindow .WindowWrapper .GUITextarea {
  position : absolute;
  top : 31px;
  left : 5px;
  bottom : 5px;
  right : 5px;
}
.Window_ApplicationTextpadWindow .WindowWrapper .GUITextarea > textarea {
  font-family : Monospace !important;
  font-size : 13px !important;
}
