/**
 * Window frost special effect
 */
.Window > .WindowTop > .WindowFrost {
  position : absolute;
  top : 0px;
  left : 0px;
  width : 100%;
  height : 100%;

  -webkit-filter : blur(4px);
     -moz-filter : blur(4px);
      -ms-filter : blur(4px);
       -o-filter : blur(4px);
          filter : blur(4px);

  -webkit-opacity : .5;
     -moz-opacity : .5;
      -ms-opacity : .5;
       -o-opacity : .5;
          opacity : .5;
}

/**
 * Default Wallpaper stuff
 */
body.WallpaperColor {
  background-image : none;
}
body.WallpaperDefault {
  background-repeat : repeat;
}
body.WallpaperNormal {
  background-repeat : no-repeat;
}
body.WallpaperCenter {
  background-repeat : no-repeat;
  background-position : center center;
}
body.WallpaperFill {
  background-repeat : no-repeat;
  background-size : cover;
  background-position : center center;
  background-attachment : fixed;
}
body.WallpaperStrech {
  background-repeat : no-repeat;
  background-size : 100% auto;
}

/**
 * Desktop Notification
 */
#WMNotifications {
  position : absolute;
  top : 0px;
  right : 0px;
  z-index : 10000000;
  width : 400px;
}

#WMNotifications .WMNotification {
  position : relative;
  min-height : 10px;
  padding : 10px;
  margin : 10px;
  overflow : hidden;
  white-space : nowrap;
}
#WMNotifications .WMNotification.HasIcon {
  min-height : 32px;
}
#WMNotifications .WMNotification.HasIcon img {
  position : absolute;
}
#WMNotifications .WMNotification.HasIcon .Title,
#WMNotifications .WMNotification.HasIcon .Message {
  margin-left : 32px;
  padding-left : 5px;
  white-space: -moz-pre-wrap;
  white-space:   -o-pre-wrap;
  white-space:     -pre-wrap;
  white-space:      pre-wrap;
  word-wrap: break-word;
}
#WMNotifications .WMNotification:before {
  content : '';
  position : absolute;
  top : 0px;
  left : 0px;
  right : 0px;
  bottom : 0px;
  z-index : -1;
}

/**
 * WindowManager Panels
 */
.WMPanel {
  position : absolute;
  top : 0px;
  left : 0px;
  right : 0px;
  height : 26px;
  overflow : visible;
  z-index : 2;
  padding : 5px;
  margin : 0;

  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.WMPanel .WMPanelBackground {
  position : absolute;
  top : 0px;
  left : 0px;
  right : 0px;
  bottom : 0px;
  z-index : 1;
}
.WMPanel.Ontop {
  z-index : 9999998;
}
.WMPanel.Bottom {
  top : auto;
  bottom : 0px;
}
.WMPanel.Autohide {
  height : 0px;
}
.WMPanel.Autohide > * {
  visibility : hidden;
}
.WMPanel ul {
  margin : 0;
  padding : 0;
  list-style-type : none;
  position : relative;
  z-index : 10;
}
.WMPanel > ul {
  margin : 0;
  padding : 0;
  list-style-type : none;
  height : 26px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-wrap: nowrap;
     -moz-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
       -o-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
.WMPanel ul > li.Button {
  margin : 0;
  padding : 0;
  padding-left : 5px;
  padding-right : 5px;
  margin-left : 5px;
  height : 26px;
  line-height : 26px;
  max-width : 150px;

  white-space : nowrap;
  display : inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.WMPanel ul > li.Button:last-child {
  margin-right : 0;
}
.WMPanel ul > li.Button span {
  padding-left : 5px;
}
.WMPanel ul > li.Button img {
  vertical-align : middle;
}
.WMPanel > ul > li ul {
  display : inline-block;
}

.WMPanel .PanelItem {
  min-width : 26px;
  min-height : 26px;
  display : block;
}
.WMPanel .PanelItemStatic {
}
.WMPanel .PanelItemFill {
  -webkit-flex: 0 0 auto;
     -moz-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
       -o-flex: 0 0 auto;
          flex: 0 0 auto;
}
.WMPanel .PanelItemWide {
  -webkit-flex: 1 1 auto;
     -moz-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
       -o-flex: 1 1 auto;
          flex: 1 1 auto;
}

.WMPanel .PanelItemRight {
  -webkit-align-self : flex-end;
     -moz-align-self : flex-end;
      -ms-align-self : flex-end;
       -o-align-self : flex-end;
          align-self : flex-end;
}


/**
 * Window Switcher
 */
#WindowSwitcher {
  position : absolute;
  top : 50%;
  left : 50%;
  width : 256px;
  z-index : 999999;
  overflow : hidden;
  margin-left : -128px;
}
#WindowSwitcher > div {
  width : 256px;
  height : 32px;
  line-height : 32px;
  overflow : hidden;
}
#WindowSwitcher > div > img {
  vertical-align : middle;
  margin-right : 5px;
  margin-left : 5px;
}
#WindowSwitcher > div > span {
}
#WindowSwitcher > div.Active {
}

.CoreWMDesktopIconView {
  background : transparent !important;
  position : absolute;
  top : 10px;
  left : 10px;
  right : 10px;
  bottom : 10px;
  z-index : 1;
  border : 0 none !important;
  box-shadow : none !important;
}
/*
.CoreWMDesktopIconView span {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
*/

#CoreWMApplicationMenu {
  z-index : 9999999999;
  position : absolute;
  min-width : 100px;
  min-height : 100px;
}

#CoreWMApplicationMenu ul {
  width : 480px;
  overflow : hidden;
  margin : 10px;
}

#CoreWMApplicationMenu li {
  width : 72px;
  height : 72px;
  padding : 4px;
  display : inline-block;
  overflow : hidden;
  text-align : center;
  line-height : 16px;
  position : relative;
}

#CoreWMApplicationMenu li img {
  padding-top : 4px;
  width : 32px;
}
#CoreWMApplicationMenu li div {
  white-space : normal;
  max-height : 30px;
  padding : 4px;
}
#CoreWMApplicationMenu .Pointer {
  position : absolute;
  width : 20px;
  height : 20px;
  -webkit-transform : rotate(45deg);
  -moz-transform : rotate(45deg);
  -ms-transform : rotate(45deg);
  -o-transform : rotate(45deg);
  transform : rotate(45deg);
}
#CoreWMApplicationMenu.AtTop .Pointer {
  left : 10px;
  top : -10px;
}
#CoreWMApplicationMenu.AtBottom .Pointer {
  left : 10px;
  bottom : -10px;
}
