
/**
 * PanelItemClock
 */
.WMPanel .PanelItemClock {
  width : 55px;
  cursor : default;
  overflow : hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-align : center;
}
.WMPanel .PanelItemClock > div {
  display : inline-block;
  vertical-align : middle;
}

/**
 * PanelItemWindowList
 */
.WMPanel .PanelItemWindowList {
  overflow : hidden;
  min-width : 100px;
}

/**
 * PanelItemNotificationArea
 */
.WMPanel .PanelItemNotificationArea {
  overflow : hidden;
  position : relative;
}
.WMPanel .PanelItemNotificationArea > div {
  min-width : 26px;
  min-height : 26px;
  display : inline-block;
  vertical-align : middle;
  text-align : center;
  position : relative;
  cursor : pointer;
}
.WMPanel .PanelItemNotificationArea > div > div {
  position : absolute;
  top : 50%;
  left : 50%;
  width : 16px;
  height : 16px;
  margin-left : -8px;
  margin-top : -8px;
}
.WMPanel .PanelItemNotificationArea > div img {
  vertical-align : middle;
}



.WMPanel .PanelItemNotificationArea > div.BusyNotification,
.WMPanel .PanelItemNotificationArea > div.StartupNotification {
  cursor : help;
}

.WMPanel .PanelItemNotificationArea > div.BusyNotification > div,
.WMPanel .PanelItemNotificationArea > div.StartupNotification > div {
  border: 2px solid #fff;
  border-radius: 100%;
  margin-left : -10px;
  margin-top : -10px;
}
.WMPanel .PanelItemNotificationArea > div.StartupNotification > div:before {
  display: block;
  position: absolute;
  left: 7px; /*( 16px / 2 ) - 1px;*/
  top: 2px;
  width: 2px;
  height: 6px; /*( 16px / 2 ) - 2px;*/
  background-color: #fff;
  content: "";

  -webkit-animation: NotificationSpinAnim 3s linear infinite;
     -moz-animation: NotificationSpinAnim 3s linear infinite;
      -ms-animation: NotificationSpinAnim 3s linear infinite;
          animation: NotificationSpinAnim 3s linear infinite;

  -webkit-transform-origin: 1px 6px; /* 1px ( 16px / 2 ) - 2px;*/
     -moz-transform-origin: 1px 6px; /* 1px ( 16px / 2 ) - 2px;*/
      -ms-transform-origin: 1px 6px; /* 1px ( 16px / 2 ) - 2px;*/
          transform-origin: 1px 6px; /* 1px ( 16px / 2 ) - 2px;*/
}
.WMPanel .PanelItemNotificationArea > div.StartupNotification > div:after {
    display: block;
    position: absolute;
    left: 7px; /*( 16px / 2 ) - 1px;*/
    top: 3px;
    width: 2px;
    height: 5px; /*( 16px / 2 ) - 3px;*/
    background-color: #fff;
    content: "";

    -webkit-animation: NotificationSpinAnim 18s linear infinite; /* NotificationSpinAnim 6 * 3s linear infinite; */
       -moz-animation: NotificationSpinAnim 18s linear infinite; /* NotificationSpinAnim 6 * 3s linear infinite; */
        -ms-animation: NotificationSpinAnim 18s linear infinite; /* NotificationSpinAnim 6 * 3s linear infinite; */
            animation: NotificationSpinAnim 18s linear infinite; /* NotificationSpinAnim 6 * 3s linear infinite; */

    -webkit-transform-origin: 1px 5px; /* 1px ( 16px / 2 ) - 3px;*/
       -moz-transform-origin: 1px 5px; /* 1px ( 16px / 2 ) - 3px;*/
        -ms-transform-origin: 1px 5px; /* 1px ( 16px / 2 ) - 3px;*/
            transform-origin: 1px 5px; /* 1px ( 16px / 2 ) - 3px;*/
}

.WMPanel .PanelItemNotificationArea > div.BusyNotification > div:after,
.WMPanel .PanelItemNotificationArea > div.BusyNotification > div:before {
  display: block;
  position: absolute;
  left: 7px;
  top: 2px;
  width: 2px;
  height: 12px;
  background-color: #fff;
  content: "";

  -webkit-transform-origin: 1px 6px; /* 1px ( 24px / 2 ) - 2px;*/
     -moz-transform-origin: 1px 6px; /* 1px ( 24px / 2 ) - 2px;*/
      -ms-transform-origin: 1px 6px; /* 1px ( 24px / 2 ) - 2px;*/
          transform-origin: 1px 6px; /* 1px ( 24px / 2 ) - 2px;*/

  -webkit-animation: NotificationSpinAnim 3s linear infinite;
     -moz-animation: NotificationSpinAnim 3s linear infinite;
      -ms-animation: NotificationSpinAnim 3s linear infinite;
          animation: NotificationSpinAnim 3s linear infinite;
}
.WMPanel .PanelItemNotificationArea > div.BusyNotification > div:after {
  -webkit-animation: NotificationSpinAnim 3s linear -0.75s infinite;
     -moz-animation: NotificationSpinAnim 3s linear -0.75s infinite;
      -ms-animation: NotificationSpinAnim 3s linear -0.75s infinite;
          animation: NotificationSpinAnim 3s linear -0.75s infinite;
}

@-webkit-keyframes NotificationSpinAnim {
  to {
    -webkit-transform: rotate( 360deg );
  }
}
@-moz-keyframes NotificationSpinAnim {
  to {
    -moz-transform: rotate( 360deg );
  }
}
@-ms-keyframes NotificationSpinAnim {
  to {
    -ms-transform: rotate( 360deg );
  }
}
@keyframes NotificationSpinAnim {
  to {
    transform: rotate( 360deg );
  }
}
