@import "../../../stylesheets/theme.less";

/**
 * Original theme by Rafa Cobreros
 * From Gnome
 * http://gnome-look.org/content/show.php/?content=157986
 */

@theme_base_bg_color          : #ebebeb;
@theme_base_fg_color          : #242424;
@theme_base_border_color      : #d4d4d4;
@theme_secondary_bg_color     : #d9d9d9;
@theme_secondary_fg_color     : #bbbbbb;
@theme_secondary_border_color : #b2b2b2;
@theme_base_shadow_unfocused  : 0px 0px 10px 1px rgba(0, 0, 0, .3);
@theme_base_shadow_focused    : 0px 0px 10px 1px rgba(0, 0, 0, .6);
@theme_selected_bg_color      : #2d73d2;
@theme_selected_fg_color      : #ffffff;

/**
 * WM
 */
body > .WMPanel {
  height : 32px;
  border : 0 none;
}
body > .WMPanel > ul {
  margin : 3px;
}

#Background.Blinking {
  background : #242424;
}


/**
 * Window
 */
application-window:before {
  .theme_border_top(3px);
  left : -3px;
  top : -29px;
  right : -3px;
  bottom : -3px;
}
application-window-top {
  top : -27px;
}
application-window-title {
  text-align : center;
}
application-window[data-dnd-state="true"]:after {
  border : 4px solid rgba(0, 0, 0, .7);
  border-radius : 1px;
  .theme_border_top(3px);
  margin : -4px;
}

/* Max */
application-window-button-maximize {
  background : url('default/wm/maximize_unfocused.png') no-repeat 0px 0px,
               url('default/wm/maximize.png') no-repeat 0px 0px !important;
}
application-window-button-maximize:hover {
  background : url('default/wm/maximize_unfocused_prelight.png') no-repeat 0px 0px,
               url('default/wm/maximize.png') no-repeat 0px 0px !important;
}
application-window-button-maximize:active {
  background : url('default/wm/maximize_unfocused_pressed.png') no-repeat 0px 0px,
               url('default/wm/maximize.png') no-repeat 0px 0px !important;
}

application-window[data-focused="true"] application-window-button-maximize {
  background : url('default/wm/maximize_focused_normal.png') no-repeat 0px 0px,
               url('default/wm/maximize.png') no-repeat 0px 0px !important;
}
application-window[data-focused="true"] application-window-button-maximize:hover {
  background : url('default/wm/maximize_focused_prelight.png') no-repeat 0px 0px,
               url('default/wm/maximize.png') no-repeat 0px 0px !important;
}
application-window[data-focused="true"] application-window-button-maximize:active {
  background : url('default/wm/maximize_focused_pressed.png') no-repeat 0px 0px,
               url('default/wm/maximize.png') no-repeat 0px 0px !important;
}

/* Min */
application-window-button-minimize {
  background : url('default/wm/minimize_unfocused.png') no-repeat 0px 0px,
               url('default/wm/minimize.png') no-repeat 0px 0px !important;
}
application-window-button-minimize:hover {
  background : url('default/wm/minimize_unfocused_prelight.png') no-repeat 0px 0px,
               url('default/wm/minimize.png') no-repeat 0px 0px !important;
}
application-window-button-minimize:active {
  background : url('default/wm/minimize_unfocused_pressed.png') no-repeat 0px 0px,
               url('default/wm/minimize.png') no-repeat 0px 0px !important;
}

application-window[data-focused="true"] application-window-button-minimize {
  background : url('default/wm/minimize_focused_normal.png') no-repeat 0px 0px,
               url('default/wm/minimize.png') no-repeat 0px 0px !important;
}
application-window[data-focused="true"] application-window-button-minimize:hover {
  background : url('default/wm/minimize_focused_prelight.png') no-repeat 0px 0px,
               url('default/wm/minimize.png') no-repeat 0px 0px !important;
}
application-window[data-focused="true"] application-window-button-minimize:active {
  background : url('default/wm/minimize_focused_pressed.png') no-repeat 0px 0px,
               url('default/wm/minimize.png') no-repeat 0px 0px !important;
}

/* Close */
application-window-button-close {
  background : url('default/wm/close_unfocused.png') no-repeat 0px 0px,
               url('default/wm/close.png') no-repeat 0px 0px !important;
}
application-window-button-close:hover {
  background : url('default/wm/close_unfocused_prelight.png') no-repeat 0px 0px,
               url('default/wm/close.png') no-repeat 0px 0px !important;
}
application-window-button-close:active {
  background : url('default/wm/close_unfocused_pressed.png') no-repeat 0px 0px,
               url('default/wm/close.png') no-repeat 0px 0px !important;
}

application-window[data-focused="true"] application-window-button-close {
  background : url('default/wm/close_focused_normal.png') no-repeat 0px 0px,
               url('default/wm/close.png') no-repeat 0px 0px !important;
}
application-window[data-focused="true"] application-window-button-close:hover {
  background : url('default/wm/close_focused_prelight.png') no-repeat 0px 0px,
               url('default/wm/close.png') no-repeat 0px 0px !important;
}
application-window[data-focused="true"] application-window-button-close:active {
  background : url('default/wm/close_focused_pressed.png') no-repeat 0px 0px,
               url('default/wm/close.png') no-repeat 0px 0px !important;
}

